<div class="cart">
  <h1>Formulario Angular</h1>
  <!-- [(ngModel)]="escritura($event)" -->
  <div class="label-input">
    <label for="">Nombre(s):</label>
    <input type="text" #contentName [(ngModel)]="contentName" >
    <!-- <p *nfIf="1 === 1" class="message-error">ESTE DATO ES OBLIGARIO</p> -->
  </div>
  <div class="label-input">
    <label for="">Apellidos:</label>
    <input type="text" #contentLastName [(ngModel)]="contentLastName">
    <!-- <p *nfIf="1 === 2" class="message-error">ESTE DATO ES OBLIGARIO</p> -->
  </div>
  <div class="label-input">
    <label for="">Ciudad:</label>
    <input type="text" #contentCity [(ngModel)]="contentCity">
    <!-- <p *nfIf="1 === 2" class="message-error">ESTE DATO ES OBLIGARIO</p> -->
  </div>
  <div class="label-input">
    <label for="">País:</label>
    <input type="text" #contentCountry [(ngModel)]="contentCountry">
    <!-- <p *nfIf="1 === 2" class="message-error">ESTE DATO ES OBLIGARIO</p> -->
  </div>
  <div class="label-input">
    <label for="">Email:</label>
    <input type="text" #contentEmail [(ngModel)]="contentEmail">
    <!-- <p *nfIf="1 === 2" class="message-error">ESTE DATO ES OBLIGARIO</p> -->
  </div>
  <div class="label-input">
    <label for="">DNI:</label>
    <input type="text" #contentDNI [(ngModel)]="contentDNI">
    <!-- <p *nfIf="1 === 2" class="message-error">ESTE DATO ES OBLIGARIO</p> -->
  </div>
  <!-- <div>
    <button type="submit" >Submit</button>
    <button type="button" >Clear</button>
  </div> -->

  <!-- <div>
    <p>{{ name }}</p>
    <p>{{ lastName }}</p>
    <p>{{ city }}</p>
    <p>{{ country }}</p>
    <p>{{ email }}</p>
    <p>{{ DNI }}</p>
  </div> -->
</div>

<router-outlet></router-outlet>
